{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
	Request Password - {{ block.super }}
{% endblock %}


{% block content %}
<div class="container mt-5 mb-5 w-50 login-page">

	<div class = 'content-section ml-3 mr-3 mt-3'>
		<form method = 'POST'>
			{% csrf_token %}
			<fieldset class = 'form-group'>
				<legend class = 'border-bottom mb-4'>Reset Password</legend>

				{{ form|crispy }}
			</fieldset>

			<div class = 'form-group'>
				<button class = 'btn btn-outline-primary' type = 'submit'>Request Password</button>
			</div>
		</form>
	</div>

</div>
{% endblock %}