{% extends 'base.html' %}


{% block title %}
    {% if brand_view %} {{ brand_test.brand }} {% else %} {{ category.name }} {% endif %} - {{ block.super }}
{% endblock %}


{% block content %}

        <div class="col-lg-12 mt-4">
            <div class="list-group" >
                {% if brand_view %}
                    <!-- BRAND VIEW -->
                    <a href="{% url 'product:base-view' %}" class = 'mr-2 path'>Home</a>
                    > <a href="{{ brand_test.category.get_absolute_url }}" class = 'mr-2 ml-2 path'>{{ brand_test.category }}</a>
                    > <a href="" class = 'ml-2 path-active'>{{ brand_test.brand }}</a>
                {% else %}
                    <!-- CATEGORY VIEW -->
                    <a href="{% url 'product:base-view' %}" class = 'mr-2 path'>Home</a>
                    > <a href="" class = 'ml-2 path-active'>{{ category.name }}</a>
                {% endif %}
            </div>
            <hr>

            {% for brand in brands %}
                <a href="{% url 'product:brand-detail' category_slug=category.slug brand_slug=brand.brand__slug %}" class="mr-2 brand-links"> {{ brand.brand__name }} ({{ brand.count }}) </a>
            {% endfor %}
          <div class="row mt-3">

          {% for product in products %}
                {% include 'product/product-forloop.html' %}
          {% endfor %}
        </div>

            <div class="mt-3">
			{% if products.has_other_pages %}


				{% if products.has_previous %}
					<a href="?page=1" class = 'btn btn-outline-dark mb-4'>First</a>
					<a href="?page={{ products.previous_page_number }}" class = 'btn btn-outline-dark mb-4'>Previous</a>
				{% endif %}

				{% for num in products.paginator.page_range %}
					{% if products.number == num %}
						<a href="?page={{ num }}" class = 'btn btn-dark mb-4'>{{ num }}</a>
					{% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
						<a href="?page={{ num }}" class = 'btn btn-ouline-dark mb-4'>{{ num }}</a>
					{% endif %}
				{% endfor %}

				{% if products.has_next %}
					<a href="?page={{ products.next_page_number }}" class = 'btn btn-outline-dark mb-4'>Next</a>
					<a href="?page={{ products.paginator.num_pages }}" class = 'btn btn-outline-dark mb-4'>Last</a>
				{% endif %}

			{% endif %}
        </div>

        </div>
{% endblock %}