{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if brand_view %} {{ brand_test.brand }} {% else %} {{ category.name }} {% endif %} - {{ block.super }}
{% endblock %}


{% block content %}

        <div class="col-lg-12 mt-4">
            <div class="list-group" >
                {% if brand_view %}
                    <!-- BRAND VIEW -->
                    <a href="{% url 'product:base-view' %}" class = 'mr-2 path'>Home</a>
                    > <a href="{{ brand_test.category.get_absolute_url }}" class = 'mr-2 ml-2 path' id="cat_slug">{{ brand_test.category }}</a>
                    > <a href="" class = 'ml-2 path-active' id="brand_slug">{{ brand_test.brand }}</a>
                {% else %}
                    <!-- CATEGORY VIEW -->
                    <a href="{% url 'product:base-view' %}" class = 'mr-2 path'>Home</a>
                    > <a href="" class = 'ml-2 path-active' id="cat_slug">{{ category.name }}</a>
                {% endif %}
            </div>
            <hr>

            {% for brand in brands %}
                <a href="{% url 'product:brand-detail' category_slug=category.slug brand_slug=brand.brand__slug %}" class="mr-2 brand-links"> {{ brand.brand__name }} ({{ brand.count }}) </a>
            {% endfor %}

            <!-- ФИЛЬТРАЦИОННАЯ ФОРМА  -->
            <!--     ToDo - закинуть в css не забыть       -->
            <form action="" method="GET" style="border: 1px solid #BEBEBE; padding: 1% 1%; background-color: #F5F5F5;" class="mt-3">
                  <div class="form-row">
                      <div class="from-group col-md-3 mb-0">{{ form.price_from|as_crispy_field }}</div>
                      <div class="from-group col-md-3 mb-0" style="padding-top: 38px;">{{ form.price_to|as_crispy_field }}</div>
                      <div class="from-group col-md-3 mb-0">{{ form.comments|as_crispy_field }}</div>
                      <div class="from-group col-md-3 mb-0">{{ form.likes|as_crispy_field }}</div>
                  </div>
                <button type="submit" id="filter_product" class="btn btn-info"><i class="fas fa-sort-amount-down mr-2"></i>Фильтровать</button>
            </form>

            <!--  PRODUCTS LIST HERE   -->
              <div class="row mt-3 product_list">
                  {% for product in products %}
                        {% include 'product/product-item/product-static.html' %}
                  {% empty %}
                        <p class="ml-3">Извините, не было найденно продуктов соответствующих Вашим требованиям.</p>
                  {% endfor %}
              </div>



            <!--   PAGGINATION  -->
            <div class="mt-3">
                {% if products.has_other_pages %}


                    {% if products.has_previous %}
                        <a href="{% if filter_cond %}{{ filter_cond }}&{% else %}?{% endif %}page=1" class = 'btn btn-outline-dark mb-4'>First</a>
                        <a href="{% if filter_cond %}{{ filter_cond }}&{% else %}?{% endif %}page={{ products.previous_page_number }}" class = 'btn btn-outline-dark mb-4'>Previous</a>
                    {% endif %}

                    {% for num in products.paginator.page_range %}
                        {% if products.number == num %}
                            <a href="{% if filter_cond %}{{ filter_cond }}&{% else %}?{% endif %}page={{ num }}" class = 'btn btn-dark mb-4'>{{ num }}</a>
                        {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                            <a href="{% if filter_cond %}{{ filter_cond }}&{% else %}?{% endif %}page={{ num }}" class = 'btn btn-ouline-dark mb-4'>{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if products.has_next %}
                        <a href="{% if filter_cond %}{{ filter_cond }}&{% else %}?{% endif %}page={{ products.next_page_number }}" class = 'btn btn-outline-dark mb-4'>Next</a>
                        <a href="{% if filter_cond %}{{ filter_cond }}&{% else %}?{% endif %}page={{ products.paginator.num_pages }}" class = 'btn btn-outline-dark mb-4'>Last</a>
                    {% endif %}

                {% endif %}
            </div>

        </div>
{% endblock %}