{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ product.title }} - {{ block.super }}
{% endblock %}



{% block content %}
<div class="list-group mt-4" >
    <a href="{% url 'product:base-view' %}" class = 'mr-2 path'>Home</a>
    > <a href="{{ product.category.get_absolute_url }}" class = 'mr-2 ml-2 path'>{{ product.category }}</a>
    > <a href="{{ product.get_absolute_url }}" class = 'ml-2 path-active'>{{ product.title }}</a>
</div>


<div class="card mt-4 mb-4">
    <div class ='row'>
        <div class="col-lg-5 mt-3 ml-2">
              <img class="card-img-top img-fluid mt-2 mb-2" src="{{ product.image.url }}" alt="">
        </div>

        <div class="col lg-7 mt-3">

             <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#home">Общая инфа</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link comments-count" data-toggle="tab" href="#menu1">Комментарии ({{ product.comments.count }})</a>
                </li>
            </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <!--  ОБЩАЯ ИНФА  -->
                <div id="home" class="container tab-pane active"><br>

                  <div class="card-body">
                    <h3 class="card-title">{{ product.title }}</h3>
                    <p class="card-text">{{ product.description|safe|linebreaks }}</p>
                    <hr>
                    <h4>Цена: $ {{ product.price }}</h4>

                    <div class="separator clear-left user-reaction">
                        <div class="likes-total-info">
                            <i class="fas fa-heart fa-lg"><span id="liked"> {{ product.likes.count }}</span></i>
                        </div>

                        {% if buttons %}
                            <button id="like" class="btn btn-danger ml-3 mb-1" >Dislike</button>
                        {% else %}
                            <button id="like" class="btn btn-success ml-3 mb-1" >Like</button>
                        {% endif %}

                        <input type="hidden" id="product" data-id = '{{ product.id }}'>
                    </div>



                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {% csrf_token %}
                        {{ cart_product_form }}
                        <input type="submit" value="Добавить в корзину">
                    </form>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span> 4.0 stars
                  </div>
                </div>

                <!--  КОММЕНТАРИИ -->
                <div id="menu1" class="container tab-pane fade"><br>
                  <h2>Оставить комментарий?</h2>
                    <div class ='comment-form w-70'>
                        <form action = '' method = 'POST'>
                                <input type="hidden" id="product" data-id = '{{ product.id }}'>
                                    {% csrf_token %}
                                    {{ comment_form|crispy }}
                                <input type = 'submit' value = 'Добавить комментарий' id = 'add_comment'>
                        </form><hr>
                    </div>

                    <div class="row pb-3">
                        <h2 class="ml-3">Комментарии:</h2>
                        <div class="col-md-12 new-comment"></div>
                    {% for comment in product.comments.all %}
                        <div class="col-md-12">
                            <div>
                                <h5 class="float:left">Comment was added at {{ comment.created }}:

                                    {% if user == comment.user or ip == comment.ip or user.is_superuser or user.is_staff %}
                                    <button type="button" class="delete-comment btn btn-sm btn-danger mr-1 float-right" data-id="{% url 'product:delete-comment' comment.pk %}" title="Удалить Комментарий">
                                      <span class="fa fa-trash"></span>
                                    </button>
                                    <button type="button" class="update-comment btn btn-sm btn-primary mr-1 ml-3 float-right" data-id="{% url 'product:update-comment' comment.pk %}" title="Исправить">
                                      <span class="fa fa-edit"></span>
                                    </button>
                                    {% endif %}
                                </h5>
                            </div>
                            <p>{{ comment.text }}</p>
                            <hr>
                        </div>
                    {% empty %}
                        <p class="ml-3 empty-tag">Отсутствуют комментарии к данному продукту.</p>
                    {% endfor %}
                    </div>
                </div>

              </div>


        </div>
    </div>
</div>



{% endblock %}



{% block js %}

<script>


<!-- HIDE MESSAGES -->
$(function () {

	// Delete comment
    $(".delete-comment").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
    });

    // Update comment
    $(".update-comment").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
    });


    // Hide message
    $(".alert").fadeTo(5000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
    });
});




<!-- LIKE TOGGLE  -->

$(document).ready(function(){
    $('#like').on('click', function(e) {
		e.preventDefault()
		var like = 'like'
		var product_id = $('#product').attr('data-id')
		data = {
			product_id:product_id
		}
		$.ajax({
			type:'GET',
			url: '{% url "product:like-toggle" %}',
			dataType: 'json',
			data: data,
			success: function(data){
				$('#liked').html(data.res)
				$('#messages').html("<div class = 'alert alert-"+data.message_tag+"'><b>"+data.message_text+"</b></div>")
				$('#messages').fadeTo(3000, 500).slideUp(500, function(){
                    $("#messages").slideUp(500);
                })
				$('#like').html(data.button[0])
				$('#like').removeClass().addClass("ml-3 mb-1 btn btn-"+data.button[1])
			}
		})
	})
});



<!--  ADD COMMENT  -->

// getCookie берем из djangoproject

$(document).ready(function(){
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');

	$('#add_comment').on('click', function(e){
		e.preventDefault()
		var product_id = $('#product').attr('data-id')
		var comment = $('#id_text').val()

		data = {
			product_id: product_id,
			comment: comment,
			csrfmiddlewaretoken: csrftoken
		}
		$.ajax({
			type:"POST",
			url: '{% url "product:add_comment" %}',
			dataType: 'json',
			data: data,
			success: function(data){
			    $.each(data, function(field){
                    for(i=0; i <= field.length; i++){
                        var deleteUrl = '{% url "product:delete-comment" pk=1234567 %}'.replace('1234567', data[field]['ids'])
                        var updateUrl = '{% url "product:update-comment" pk=1234567 %}'.replace('1234567', data[field]['ids'])
                        $('.new-comment').prepend('<div><h5 class="float:left">Comment was added at ' +data[field]['created']+ ':  \
                                <button type="button" class="delete-comment btn btn-sm btn-danger mr-1 float-right" data-id="'+deleteUrl+'" title="Удалить Комментарий"> \
                                    <span class="fa fa-trash"></span> \
                                </button> \
                                <button type="button" class="update-comment btn btn-sm btn-primary mr-1 ml-3 float-right" data-id="" title="Исправить"> \
                                    <span class="fa fa-edit"></span> \
                                </h5></button> \
                            </div> \
                            <p>' +data[field]['text']+ '</p><hr>')

                        $('.update-comment').attr('data-id', updateUrl)

                        // очищаем поле для комментариев после Добавления
                        $('#id_text').val('')
                        $('.empty-tag').hide()
                        $('.comments-count').html('Коментарии (' +data[field]['count']+ ')')

                        // Delete comment
                        $(".delete-comment").each(function () {
                            $(this).modalForm({formURL: $(this).data('id')});
                        });

                        // Update comment
                        $(".update-comment").each(function () {
                            $(this).modalForm({formURL: $(this).data('id')});
                        });
                    }
				})
			}
		})
	});
})



</script>

{% endblock %}