{% extends 'base.html' %}

{% block title %}
    Main page - {{ block.super }}
{% endblock %}



<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>



{% block content %}




{% include 'core/actions/sidebar.html' %}



<div class = 'container mt-5 mb-5 cont-sidebar-right'>

    <h3 class="text-center mb-3">{{ date }}</h3>

{% for task in tasks %}

    {% include 'core/actions/content.html' %}

{% endfor %}

    <button type="button" class="add-task btn btn-danger" data-id="{% url 'tasks:create-task' %}"><i class="fas fa-plus mr-2"></i>Create Task</button>



</div>


{% endblock %}




{% block scripts %}

    {% include 'core/actions/here-scripts.html' %}

{% endblock %}
