{% extends 'base.html' %}

{% block title %}
    Next Seven Days - {{ block.super }}
{% endblock %}



<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>



{% block content %}




{% include 'core/actions/sidebar.html' %}



<div class = 'container mt-5 mb-5 cont-sidebar-right'>

<div id="exTab2">
        <ul class="nav nav-tabs">
            {% for date in dates %}
                {% if forloop.first %}
                    <li><a  href="#{{ forloop.counter }}" data-toggle="tab" class="active">{{ date }}</a></li>
                {% else %}
			        <li><a  href="#{{ forloop.counter }}" data-toggle="tab">{{ date }}</a></li>
                {% endif %}
            {% endfor %}
		</ul>

        <div class="tab-content ">
            {% for date in dates %}
            {% if forloop.first %}
                <div class="tab-pane active" id="{{ forloop.counter }}">
            {% else %}
                <div class="tab-pane" id="{{ forloop.counter }}">
            {% endif %}
                {% for task in tasks %}
                    {% if task.timestamp|date:'Y-m-d' == date %}

                        <h3 class="text-center mb-3">{{ task.timestamp|date:'Y-m-d' }}</h3>


                        {% include 'core/actions/content.html' %}


                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
  </div>

    <button type="button" class="add-task btn btn-danger mt-3" data-id="{% url 'tasks:create-task' %}"><i class="fas fa-plus mr-2"></i>Create Task</button>

</div>


{% endblock %}




{% block scripts %}


<script type="text/javascript">
    $(function () {

    // Delete user buttons
      $(".delete-account").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });


	//  Create Project
      $(".add-project").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
	// Delete project buttons
      $(".delete-project").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    // Update project buttons
      $(".update-project").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });




    //  Create Task
      $(".add-task").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    // Update project buttons
      $(".update-task").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    // Delete task buttons
      $(".delete-task").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });






    // Hide message
      $(".alert").fadeTo(3000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
      });

    });
</script>


{% endblock %}
