{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>
        {% block title %}eShop Nigga {% endblock %}
    </title>

</head>


<body>


<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'product:base-view' %}">eShop Nigga</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'product:base-view' %}">Главная <span class="sr-only">(current)</span></a>
          </li>

          {% if not request.get_full_path == '/' %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Категории
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for cat in categories %}
              <a class="dropdown-item" href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
              {% endfor %}
            </div>
          </li>
          {% endif %}
        </ul>
        <div id="subheader">
          <div class="cart cart-header">
            {% with total_items=cart|length %}
              {% if cart|length > 0 %}
                Ваша Корзина:
                <a href="{% url 'cart:cart_detail' %}">
                  {{ total_items }} item{{ total_items|pluralize }}, $ {{ cart.get_total_price }}
                </a>
              {% else %}
                Корзина пустая.
              {% endif %}
            {% endwith %}
          </div>
        </div>

        <div class = 'd-inline'>
            {% if user.is_authenticated or user.is_active %}
                <a href="{% url 'users:logout' %}" class="ml-3 icons-a"><i class="fas fa-sign-out-alt fa-lg mr-1 icons-color" title="Log Out"></i>Log Out</a>
            {% else %}
                <button type="button" class="login-btn btn btn-outline-dark ml-3"><i class="fas fa-sign-in-alt fa-lg mr-1 icons-color-btn" title="Log In"></i>Log In</button>
                <button type="button" class="signup-btn btn btn-outline-dark ml-3"><i class="fas fa-user-plus fa-lg mr-1 icons-color-btn" title="Registration"></i>Sign Up</button>
            {% endif %}
		</div>

      </div>
    </div>
  </nav>


  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>





  <!-- Page Content -->
  <div class="container mt-5">

    {% if messages %}
      {% for message in messages %}
          <div class = 'mt-5 alert alert-{{ message.tags }}'>
              <b>{{ message }}</b>
          </div>
      {% endfor %}
    {% endif %}



    <div class="row">

    {% block content %}
    {% endblock %}

    </div>
  </div>

  <!-- Footer -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; eShop Nigga 2019</p>
    </div>
  </footer>


<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->


    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>


  <script type="text/javascript">
    $(function () {



      // Hide message
      $(".alert").fadeTo(5000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
      });

    });
  </script>


</body>
</html>