{% extends 'base.html' %}

{% block title %}
    Project {{ title }} - {{ block.super }}
{% endblock %}



<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>



{% block content %}




{% include 'core/actions/sidebar.html' %}



<div class = 'container mt-5 mb-5 cont-sidebar-right'>

    <h2>Project - <b>{{ title }}</b></h2>

{% for date in dates %}
    <h3 class="text-center mb-3">{{ date.timestamp }}</h3>

    {% for task in tasks %}
    {% if task.timestamp == date.timestamp %}

    <article class="media mb-3 tasks-pos">

        {% if task.priority == 1 %}
            <div class="media-body" style = 'background-color: #ff6666;'>
        {% elif task.priority == 0 %}
            <div class="media-body" style = 'background-color: #ffff66;'>
        {% else %}
            <div class="media-body">
        {% endif %}

			<div class="article-metadata ml-5 mt-2 mr-3">
				<h4 class="float-left"> {{ task.title }}</h4>

                <div class = 'float-right task-command'>
                            <button type="button" class="read-task btn btn-sm btn-primary" data-id="{% url 'tasks:read-task' task.pk %}" title="Detail">
                              <span class="fa fa-eye"></span>
                            </button>
                            <button type="button" class="update-task btn btn-sm btn-primary mr-1 ml-1" data-id="{% url 'tasks:update-task' task.pk %}" title="Edit">
                              <span class="fa fa-edit"></span>
                            </button>
                            <button type="button" class="delete-task btn btn-sm btn-danger mr-1" data-id="{% url 'tasks:delete-task' task.pk %}" title="Delete">
                              <span class="fa fa-trash"></span>
                            </button>
                            <button type="button" class="btn btn-sm btn-success" data-id="" title="Done">
                                <a href="{% url 'tasks:done-task' task.pk %}"><span class="fa fa-check-circle"></span></a>
                            </button>

                         <i class="fas fa-ellipsis-h fa-2x float-right ml-3"></i>
                </div>
				<b class="float-right mt-1 mr-3">  {{ task.project }} </b>

    </article>
    {% endif %}
    {% endfor %}
{% endfor %}

    <button type="button" class="add-task btn btn-danger" data-id="{% url 'tasks:create-task' %}"><i class="fas fa-plus mr-2"></i>Create Task</button>



</div>


{% endblock %}




{% block scripts %}

    {% include 'core/actions/here-scripts.html' %}

{% endblock %}
