{% extends 'base.html' %}

{% block title %}
    Next Seven Days - {{ block.super }}
{% endblock %}



<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>



{% block content %}




{% include 'core/actions/sidebar.html' %}



<div class = 'container mt-5 mb-5 cont-sidebar-right'>

<div id="exTab2">
        <ul class="nav nav-tabs">
            {% for date in dates %}
                {% if forloop.first %}
                    <li class ='mb-2'><a  href="#{{ forloop.counter }}" data-toggle="tab" class="active">{{ date }}</a></li>
                {% else %}
			        <li class ='mb-2'><a  href="#{{ forloop.counter }}" data-toggle="tab">{{ date }}</a></li>
                {% endif %}
            {% endfor %}
		</ul>

        <div class="tab-content ">
            {% for date in dates %}
            {% if forloop.first %}
                <div class="tab-pane active" id="{{ forloop.counter }}">
            {% else %}
                <div class="tab-pane" id="{{ forloop.counter }}">
            {% endif %}
                {% for task in tasks %}
                    {% if task.timestamp|date:'Y-m-d' == date %}

                        {% include 'core/actions/content.html' %}


                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
  </div>

    <button type="button" class="add-task btn btn-danger mt-3" data-id="{% url 'tasks:create-task' %}"><i class="fas fa-plus mr-2"></i>Create Task</button>

</div>


{% endblock %}




{% block scripts %}

    {% include 'core/actions/here-scripts.html' %}

{% endblock %}