

body .container,
body .row {
  border: 0.5px solid #007BFF;
  box-shadow: 0px 0px 7px grey;
  padding: 2%;
  width: 100%;
}

body .container:hover,
body .row:hover {
  box-shadow: 0px 0px 10px #007BFF;
}

body hr {
  border-color: #007BFF;
}


/* Main Page */

body header .head-color {
    /*background-color: #B8DAFF;*/
    background-color: #9FCDFF;
}


.icons-color {
    color: #007BFF;
}

.icons-color:hover {
    color: red;
}

.delete-account {
    color: red;
    cursor: pointer;
}

.delete-account:hover {
    color: #B000FF;
}




/* Left side bar */



/*
.add-project {
    color: red;
    font-weight: bold;
}

.add-project:hover {
    text-decoration: underline;
    color: red;
    cursor:pointer;
}
*/

body .sidebar-left {
  border: 0.5px solid #007BFF;
  box-shadow: 0px 0px 7px grey;
  width: 20%;
  margin-left: 3%;
  float: left;
}

.sidebar-content {
  width:  90%;
  margin-left: 5%;
}



.circle {
  width: 9%;
  height: 100%;
  border-radius: 50%;
  background: #000;
  float: left;
  margin: 0px 10px 0px -2px;
}

body .actions-sidebar {
    positions: absolute;
    float: right;
    color: red;
    display: none;
    list-style: none;
}

.dropdown {
    display:none;
}


ul li:hover .dropdown {
    display:block;
}

.dropdown-menu {
    min-width: 85px !important;
}

.dropdown-menu li:hover {
    background-color: #007BFF;
    color: white;
}
.dropdown-menu li:hover a {
    color: white;
    text-decoration: none;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.nav-tabs > li {
    padding-right: 3%;
    font-size: 1.1em;
}

body .nav-tabs .active {
    color: red;
    font-weight: bold;
}



/*  CONTENT  */

body .cont-sidebar-right {
	float: left;
	width: 70%;
	margin-left: 5%;
}


body .tasks-pos {
	border: 0.5px solid #007BFF;
	box-shadow: 0px 0px 7px grey;
	width: 100%;
	float: left;
}

body .tasks-pos:hover {
	box-shadow: 0px 0px 10px #007BFF;
}


body .task-command {
    cursor: pointer;
}

body .task-command button {
    display: none;
}

body .task-command:hover button {
    display: inline-block;
}



/* APP  --  USERS */
body .log-form {
    width: 30%;
}



.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn a, .btn a:hover {
    color: white;
    text-decoration: none ;
}
